header {
	form {
		text-align: center;
		padding: 10px 0px;
		background-color: rgba(0, 0, 0, .5);
		width: 100%;
		border-radius: 10px;
		margin-top: 10px;
		margin-left: 10px;
		width: 300px;
		input {
			padding-left: 10px;
			border-width: 0px 2px 0px 0px;
			border-radius: 10px 0 0 10px;
			color: white;
			font-weight: bold;
			foreground-color: white;
			background-color: rgba(0, 0, 0, .5);
			&::placeholder {
				color: rgba(255, 255, 255, .75);
			}
		}
		button {
			border-width: 0px;
			border-radius: 0 10px 10px 0;
			background-color: rgb(64, 64, 64);
			color: rgba(255, 255, 255, .75);
			font-weight: bold;
		}
	}
}
input {
	&:focus {
		outline: none;
	}
}
