ul {
  width: calc(100% - 20px);
}
.select {
  cursor: pointer;
  padding: 1rem 1rem;
  border-radius: 5px;
  transition: 0.2s;

  h3 {
    padding: 0;
    margin: 0;
    text-align: left;
  }
  p {
    padding: 0;
    margin: 0;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.scroller {
  margin: 0;
  padding: 0; 
  min-height: auto;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    border-radius: 8px;
  }
}
