@use './abstract' as *;

.side-interface {
  width: max(30%, 200px);
  display: flex;
  align-items: center;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.8);
  transition: 0.5s;

  nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);

    button {
      width: 200px;
      text-align: center;
      border: none;
      background-color: transparent;
      color: inherit;
      padding: 5px;
      font-size: 1rem;

      &:hover {
        background-color: rgb(64, 64, 64);
      } 
      &:active {
        background-color: #6c6c6c;
      }
    }
  }
  &.closed {
    width: 0;
    overflow: hidden;
  }

  form {
    text-align: center;
    display: flex;
    border-radius: 1rem;
    overflow: hidden;
    margin: 1rem;
    width: calc(80% - 20px);
    min-height: 2em;

    input {
      padding-left: 10px;
      border: none;
      height: 100%;
      flex-grow: 1;
      font-weight: bold;
      color: inherit;
      background-color: rgba(0, 0, 0, 0.5);
      &::placeholder {
        color: inherit;
      }
    }
    button {
      border-width: 0px;
      border-radius: 0 10px 10px 0;
      background-color: rgb(64, 64, 64);
      color: inherit;
      font-weight: bold;
      padding-inline: 10px;
      transition: 0.2s;
    }
    button:hover {
      background-color: #6c6c6c;
    }
  }
}

.expander-wrapper {
  overflow: visible;
  width: 10px;
  background-color: inherit;
  margin: auto 0;
}

.expander {
  border: none;
  outline: none;
  color: white;
  z-index: 50;
  position: relative;
  background-color: rgb(37, 37, 37);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 35px;
  height: 50px;
  font-size: 1.5rem;
  transition: 0.2s;

  i {
    transition: 0.5s;
  }

  &:hover {
    background-color: rgb(64, 64, 64);
  }
}
