.side-interface {
  width: max(30%, 200px);
  display: flex;
  align-items: center;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.8);
  transition: 0.5s;
  &.closed {
    width: 0;
    overflow: hidden;
  }

  form {
    text-align: center;
    display: flex;
    border-radius: 1rem;
    overflow: hidden;
    margin: 1rem;
    width: calc(80% - 20px);
    min-height: 2em;

    input {
      padding-left: 10px;
      // border-width: 0px 2px 0px 0px;
      // border-radius: 10px 0 0 10px;
      border: none;
      height: 100%;
      flex-grow: 1;
      font-weight: bold;
      color: inherit;
      background-color: rgba(0, 0, 0, 0.5);
      &::placeholder {
        color: inherit;
      }
    }
    button {
      border-width: 0px;
      border-radius: 0 10px 10px 0;
      background-color: rgb(64, 64, 64);
      color: inherit;
      font-weight: bold;
      padding: 5px;
      transition: 0.2s;
    }
    button:hover {
      background-color: #6c6c6c;
    }
  }
}

.expand {
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-size: 1.5rem;
  transition: 0.2s;
  i {
    transition: 0.5s;
  }

  &:hover {
    background-color: rgb(64, 64, 64);
  }
}

// .marker {
// 	width: 20px;
// 	height: 20px;
// 	border: 2px solid #fff;
// 	border-radius: 50%;
// 	background: #3887be;
// 	pointer-events: none;
// }
